
$--tomato:#1d8bb9;
$--fontP:monospace;
$--cBeige:rgb(229, 232, 232);
$--sFontP:1rem;
$--sFontS:0.7rem;
$--primFont:2rem;
$--seconFont:1.0rem;
$--marg: 1.1rem;
$--bordSmall: 0.3rem ;
$--bordMed: 1rem ;
$--gray: rgb(229, 232, 232);
$--grayTouch: rgb(204, 211, 219);
$--tomatoTouch:rgb(127, 179, 213 );

