@import 'vars';

.input {
    width: 70%;
    padding: 4px;
    border:none;
    background-color: $--cBeige;
    border-radius: $--bordSmall;
    font-size: $--sFontS;

}

.bAdd{
    width: 20%;
    margin-left: 10px;
    cursor: pointer;
    padding: 4px;
    border: 1px solid $--gray;
    background-color: $--tomato;
    border-radius: $--bordSmall;
    font-size: $--sFontS;
    color:$--gray;

}

.bAdd:hover{
    background-color: $--tomatoTouch;
    transform: scale(1.05);
}

.container-input{
    margin-top: 20px;
    width: auto;
    height: 40px;
    display: flex;

}