@import 'vars';

.input {
    width: 70%;
    padding: 4px;
    border:none;
    background-color: $--cBeige;
    border-radius: $--bordSmall;
    font-size: $--sFontS;
    color: $--tomato;
}

.input:focus{
    outline-style: none;
}

.bAdd{
    width: 80px;
    cursor: pointer;
    padding: 4px;
    border: 1px solid $--gray;
    background-color: $--tomato;
    border-radius: $--bordSmall;
    font-size: $--sFontS;
    color:$--gray;
    margin-left: 10px;

}

.bAdd:hover{
    background-color: $--tomatoTouch;
    transform: scale(1.05);
}

.container-input{
    width: auto;
    height: 40px;
    display: flex;
    justify-content: space-between;

}
.container-input form{
    width: auto;
    display: flex;
    justify-content: space-between;
} 

@media screen and (max-width:1000px){

    .container-input{
        grid-column: 1 / 4;
    }
}