@import 'vars';

.change-password-container{
    display: flex;
    flex-direction: column;
    color: $--tomato;
    padding: 80px;
}

.change-password-container div{
    display: flex;
    flex-direction: column;
}

.change-password-container form{
    display: grid;
    grid-template-columns: minmax(200px, 300px);
    grid-template-rows: repeat(3, auto);
    gap: 15px;
}

.change-password-container input{
    background-color: $--tomato;
    border: none;
    border-radius: $--bordSmall;
    height: 30px;
    color: $--cBeige;
}

.change-password-container button{
    width: 30%;
    background: $--tomato;
    border-radius: $--bordSmall;
    color: $--cBeige;

}

.change-password-container button:hover{
    background: $--tomatoTouch;
    transform: scale(1.1);
}