@import 'vars';

.menu-profile{
    position: absolute;
    right: 4px;
    top: 80px;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border: 1px solid $--cBeige;
    border-radius: $--bordSmall;
    background-color: $--tomato;
    color: $--cBeige;
    align-items: stretch;
    font-size: $--sFontS;
}

.user{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-item{
    text-decoration: none;
    color: $--cBeige;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logout{
    display: flex;
    height: 30%;
    justify-content: center;
    align-items: center;
    margin:0 10px;
    border-top: 1px solid $--cBeige;
    cursor: pointer;
}

@media (max-width: 761px) {
    .menu-profile{
        display: none;
    }
}