@import 'vars';

.container-section{
    display: flex;
    
    padding: minmax(10px,2rem);
    width: 100%;
    height: calc(100vh - 160px);
    background-color: #f3faff;
    background-image: linear-gradient(0deg, #59cdff 0%, #ffffffb7 50%, #59cdff 100%);;
    place-content:center;
}



.container{
    
    display: grid;
    grid-auto-flow: column;
    justify-content:center;
    grid-template-columns: repeat(2, minmax(300px,400px));
    grid-template-rows: auto minmax(300px, 800px);
    gap: 25px;
}



@media screen and (max-width:1000px){
    

    .container{
        padding-left: 10vw;
        padding-right: 10vw;
        width: 100%;
        
        top:0;
        overflow-y: scroll;
        grid-template-columns: 0.7fr;
        grid-template-rows: auto 600px 600px
    
    }

}