@import 'vars';

.timer-container {
    width: 100%;
	height: 100%;
    overflow-y: hidden;
    display: grid;
    place-items: center;
    background-color: #f3faff;
    background-image: linear-gradient(0deg, #59cdff 0%, #ffffffb7 50%, #59cdff 100%);;

    
}

.container-t {
    border: 2px solid $--tomato;
    background-color:$--cBeige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: minmax(20rem, 30rem);
    width: 25rem;
    border-radius:$--bordMed;
    padding: 30px;

}

.title {
    color:$--tomato;
    font-size:$--primFont ;
    margin: $--marg;

}


div .options{
    font-size: $--fontP;
    display: grid;
    top: 0;
    grid-template-columns: repeat(3, minmax(100px, 200px));
    list-style: none;
    padding: 0;
 
}

.options li{
    color: $--gray;
    cursor: pointer;
    background-color: $--tomato;
    border-radius: $--bordSmall;
    margin: $--marg 1rem;
    padding: 0.3rem;
}

.options li:hover{
    transform: translateY(5px);
    background-color: $--tomatoTouch;
}

.timer {
    background-color: $--tomato;
    font-size: $--primFont;
    margin: $--marg;
    padding: $--marg;
    border-radius: $--bordSmall;
    color:$--gray
}
.start {
    
    border: none;
    font-size: $--primFont;
    background-color:$--tomato;
    color: $--gray;
    border-radius: $--bordMed;
    margin-top:$--marg;
    padding: 0 $--marg;
    cursor: pointer;
}

.start:hover{
    background-color: $--tomatoTouch;
    transform: scale(1.04);
}

@media (max-width: 761px){
    .container-t{
        background:none;
        width: auto;
        border:none;
    }

    .timer {
        
        background:$--tomato;
        color:$--cBeige;
    }
    .title { 
        color:$--tomato;
    }
    .options li{ 
        background:$--tomato;
        font-size: 15px;
        color:$--cBeige;
        
    }
    .options li:hover{
        background-color: $--tomatoTouch;
        transform: translateY(5px);
    } 
    .start {
        background-color: $--gray;
        color: $--tomato;
        border: 2px solid $--tomato;
    }
    .start:hover {
        background-color: $--grayTouch;
        
    }
    
}

